[Unit]
Description=Dropbox service (sandboxed)
Requisite=local-fs.target network.target multi-user.target
After=multi-user.target

[Service]
Type=simple

# Hack to disable Dropbox's automatic update
ExecStartPre=/usr/bin/install -dm0 %h/.dropbox-dist

ExecStart=/opt/dropbox/dropbox
ReadOnlyDirectories=/opt/dropbox
KillSignal=SIGINT
Restart=always
User=%i
Group=dropbox
IOSchedulingClass=idle
IOSchedulingPriority=7
CPUSchedulingPolicy=idle
NoNewPrivileges=true
NonBlocking=true
DevicePolicy=closed
PrivateTmp=true
Environment=DISPLAY=:0.0

[Install]
RequiredBy=multi-user.target