[Unit]
Description=Dropbox service (sandboxed for user @%u)
AssertPathIsDirectory=%h
AssertPathIsDirectory=%h/Dropbox
AssertPathIsReadWrite=%h/Dropbox

[Service]
Type=simple

# Hack to disable Dropbox's automatic update
ExecStartPre=/usr/bin/install -dm0 %h/.dropbox-dist

# Set up file system namespace
WorkingDirectory=/%h/Dropbox
ReadOnlyDirectories=/opt/dropbox
#InaccessibleDirectories=/%h/.dropbox-dist

# Service's properties
ExecStart=/opt/dropbox/dropbox
SendSIGHUP=yes
Restart=on-failure
User=%i
NoNewPrivileges=true
DevicePolicy=closed
#PrivateTmp=true
#Nice=5

[Install]
WantedBy=default.target
