[Unit]
Description=Dropbox service (sandboxed for user @%I)
Requires=local-fs.target network.target
After=multi-user.target

[Service]
Type=simple
EnvironmentFile=/etc/conf.d/dropbox

# Ensure that user's home and Dropbox's directories exist and are properly configured
ExecStartPre=/usr/bin/test -d ${HOME_DIR}/%i -a -r ${HOME_DIR}/%i -a -O ${HOME_DIR}/%i
ExecStartPre=/usr/bin/test -d ${HOME_DIR}/%i/${DROPBOX_DIR} -a -r ${HOME_DIR}/%i/${DROPBOX_DIR} -a -O ${HOME_DIR}/%i/${DROPBOX_DIR}

# Hack to disable Dropbox's automatic update
ExecStartPre=/usr/bin/install -dm0 ${HOME_DIR}/%i/.dropbox-dist

# Set up file system namespace
WorkingDirectory=${HOME_DIR}/%i/${DROPBOX_DIR}
ReadOnlyDirectories=/opt/dropbox

# Service's properties
ExecStart=/opt/dropbox/dropboxd
KillSignal=SIGINT
Restart=always
User=%I
Group=dropbox
IOSchedulingClass=idle
IOSchedulingPriority=7
CPUSchedulingPolicy=idle
NoNewPrivileges=true
NonBlocking=true
DevicePolicy=closed
PrivateTmp=true
Environment=DISPLAY=:0.0

[Install]
WantedBy=multi-user.target