[Unit]
Description=Dropbox
After=local-fs.target network.target

[Service]
Type=simple
ExecStart=/opt/dropbox/dropboxd
ReadOnlyDirectories=/opt/dropbox
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always
User=%I
Group=dropbox
IOSchedulingClass=idle
CPUSchedulingPolicy=idle
NoNewPrivileges=true
NonBlocking=true

[Install]
WantedBy=multi-user.target