[Unit]
Description=ArangoDB is a universal open-source database with flexible data model for documents, graphs, and key-values. 
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
PIDFile=/var/run/arangod.pid
ExecStart=/usr/sbin/arangod
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -QUIT $MAINPID
User=arangodb
Group=arangodb

# Give a reasonable amount of time for the server to start up/shut down
TimeoutSec=300

# Place temp files in a secure directory, not /tmp
PrivateTmp=true

# Increases maximum open file handle limit for more performance
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target

