[Desktop Entry]
Name=Riot
Type=Application
Comment=A glossy Matrix collaboration client for desktop
Exec=riot-desktop --hidden
TryExec=riot-desktop
Icon=riot
Categories=Network;Chat;InstantMessaging;IRCClient;
Terminal=false
StartupNotify=false
StartupWMClass=Riot
