[Unit]
Description=Watchman for user %i
After=local-fs.target remote-fs.target
Conflicts=shutdown.target

[Service]
ExecStart=/usr/bin/watchman --foreground --inetd
ExecStop=/usr/bin/watchman --no-spawn p shutdown-server
Restart=on-failure
User=%i
Group=watchman
StandardInput=socket
DevicePolicy=closed
CapabilityBoundingSet=~CAP_SYS_ADMIN
PrivateTmp=true
ProtectSystem=full

[Install]
WantedBy=multi-user.target
