[Unit]
Description=Watchman socket for user %i

[Socket]
ListenStream=/run/watchman/%i-state/sock
Accept=false
SocketMode=0660
SocketUser=%i
SocketGroup=watchman

[Install]
WantedBy=sockets.target
