[Unit]
Description=Watchman socket for user %u

[Socket]
ExecStartPre=/bin/mkdir -p /run/watchman/%i-state
ExecStartPre=/bin/chown %i:watchman /run/watchman/%i-state
ListenStream=/run/watchman/%i-state/sock
Accept=false
DirectoryMode=0750
SocketMode=0660
SocketUser=%i
SocketGroup=watchman

[Install]
WantedBy=sockets.target
